/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v1/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABE.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Spartan', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  font-family: 'Spartan', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: lightskyblue;
}
.container form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  width: 25%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px -8px #000000;
  box-shadow: 5px 5px 20px -8px #000000;
}
.container form label {
  width: 100%;
  margin: 20px 0 5px 0;
}
.container form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #e0e0e0;
}
.container form button {
  margin-top: 20px;
  font-weight: bolder;
  background: none;
  color: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}
.container form button:hover {
  background: lightskyblue;
  color: #fff;
  transition: 0.1s ease-in-out;
}
.dark {
  background: #333 !important;
  transition: 0.2s ease-in-out;
}
.toggle {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 10px 0 0;
  font-weight: bolder;
  background: none;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}
.toggle:hover {
  background: #000;
  color: white;
  transition: 0.1s ease-in-out;
}
.darkBtn {
  border: 2px solid lightskyblue;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.darkBtn:hover {
  background: lightskyblue;
}
